.body {
  margin: 0;
  padding: 0;
}

.h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.expanded {
  width: 250px;
}

.collapsed {
  width: 100px;
}

.toggle-btn {
  position: absolute;
  top: 50%;
  left: 96%;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 3.2rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
}

.content {
  padding: 10px;
}

.sidebar {
  position: relative;
  width: 30%;
  background-color: black;
  color: white;
  transition: width 0.3s ease;
}

.expanded {
  width: 20%;
}

.collapsed {
  width: 7%;
}

.child-container {
  background-color: white;
  border-top-left-radius: 1.5rem
}

.css-heg063-MuiTabs-flexContainer {
  justify-content: center;
}

.main-form-heading {
  position: relative;
  border-top: rgb(103, 58, 183);
  margin: 30px auto;
}

.main-form-heading input {
  width: 100%;
  padding: 12px;
  outline: 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

.main-form-wrap {
  background-color: #fff;
  padding: 20px;
  border-left: 6px solid #000 !important;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
  transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
  border: 1px solid rgb(218, 220, 224);
  border-radius: 0px 0px 5px 5px;
}

.top-border-form {
  background-color: #000;
  height: 12px;
  border-radius: 5px 5px 0px 0px;
}

.active {
  position: relative;
}

.active::before {
  content: attr(data-custom);
  position: absolute;
  top: -35px;
  border-radius: 10px 10px 0px 0px;
  font-size: 15px;
  color: white;
  padding: 10px;
  background-color: #000;
}

.preview-active::before {
  content: attr(data-custom);
  position: absolute;
  top: -35px;
  left: 0px;
  right: 0px;
  border-radius: 10px 10px 0px 0px;
  font-size: 15px;
  color: white;
  padding: 10px 20px;
  background-color: #673ab7;
}

.text-light-color {
  color: #70757a;
}

.text-heading {
  font-size: 25px;
  font-weight: 500;
}

.text-heading {
  color: #202124;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #4c2b87;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: #4c2b87;
}

.questionSettings {
  width: 45%;
  margin-left: auto;
}

.borderRight {
  border-right: 1px solid #b4b5b7;
}

.lightColor {
  color: #5f6368;
}

.blackIcon {
  color: red;
}

.questionType {
  font-size: 14px;
  padding: 10px !important;
  color: #000;
  font-weight: 400;
}

.add-option {
  font-size: 14px;
  color: #70757a;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  width: fit-content;
}

.add-option:hover {
  border-bottom: 1px solid #b4b5b7;
}

img {
  object-fit: contain;
}

.questionImage {
width: 100px;
height: 100px;
}

.question-main-wrap {
  margin: 15px 0px;
  position: relative;
}

.hidden-file {
  /* visibility: hidden; */
  display: none !important;
}

.upload-main-img {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: 10px;
}

.upload-main-img:hover {
  background-color: #f9f9f9;
}

.question-setting {
  position: absolute;
  top: -9px;
  left: -16px;
  z-index: 99;
  background-color: #f6f6f6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;

}

.inner-settings {
  position: absolute;
  right: 21%;
  top: 10%;
}

.multiple_option .css-j204z7-MuiFormControlLabel-root {
  margin-right: 0px !important;
}

.multiple_option .css-vqmohf-MuiButtonBase-root-MuiRadio-root {
  padding: 0px !important;
  margin-right: 5px;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  padding: 0px !important;
  margin-right: 5px;
  margin-left: 10px;
}

.dark-text {
  color: #000;
}


.close-btn {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: 10px;
}

.close-btn:hover {
  background-color: #f9f9f9;
}

.css-14lo706 {
  display: none !important;
}

.main-linear .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  display: none !important;
}

.multipleHeading {
  font-weight: 500;
  font-size: 14px;
}

.multiple-img-close {
  position: relative;
  width: fit-content;

}

.multiple-img-close .close-btn {
  position: absolute;
  top: 0;
  right: -15px;
  z-index: 10;
  display: none;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #f9f9f9;
}

.multiple-img-close:hover .close-btn {
  display: flex;
}

.sideAddMenu {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: -12%;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
  transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
  background-color: #fff;
  border: 1px solid rgb(218,220,224);
  border-radius: 8px;
}
.sideAddMenu div {
  margin: 12px;
}
body{
  background-color: #f0ebf8 !important;
}
.question-heading {
  font-weight: 500;
  color: #202124;
}

.question-field input{
  color:#70757a;
}
.short-question{
  width: 50%;
}
.multiple-choice {
  color:#70757a;
}
.visible-hide{
  visibility: hidden;
}

.left-border-0{
  border-left: 0px !important;
}
.top-border-0{
  border-top: 0px !important;
}
.question-line{
  height: 30px;
  background-color: #6c6c6c;
  width: 1px;
}
.preview-icon{
  text-align: right;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.mainPreviewIcon{
  cursor: pointer;
}

.preview-dropdown .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input,
.question-dropdown .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 10px 14px !important;
}
